.Jobs{
    display: flex;
    flex-direction: row;
    overflow: auto;
   height: 600px;
    width: 1500px;
    flex-wrap: wrap;
    padding: 20px;
}

.JobTypes{
    display: flex;  
    flex-direction: row;
    gap: 1px;
}



.JobsMain{
    display: flex;  
    flex-direction: row;
    gap: 1px;
}
.JobsItem{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 9px;
}
.JobTypeHeading{
    font-size:20px ;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.JobsTypesContainer{
margin: 10px;
padding: 10px;


}
.JobRecomendation{
    padding-top: 10px;
    font-size: xx-large;
  padding-left: 40px;
    
   
    width: 360px;
    border-top-right-radius: 12px;
    
    font-family: Georgia, 'Times New Roman', serif;
    border-bottom-right-radius: 12px;
  

    
}
.Home{
    background-image: url(https://i.ibb.co/qrmzWGt/istockphoto-942603996-1024x1024.jpg);
    background-size: cover;
    width: 100vw;
  
}
.LogOut{
    
   
    border: 0.7px solid;
    border-radius: 4px;
    height: 30px;
    font-size: 22px;
    margin-left: 1300px;
    font-family: Georgia, 'Times New Roman', Times, serif;

    
        -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
        box-shadow: 0 0 5px #03e9f4, 0 0 15px #03e9f4, 0 0 25px #03e8f476, 0 0 100px #03e9f4;
      
      
    
}
.LogOut:hover{
    background: rgba(72, 61, 61, 0.5);
}

.TopJobs{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    height: 55px;
    
}
.SavedJob {
    text-decoration: none;
 
    background-color: orange ;
    border-radius: 12px;
   
    color: white;
    padding: 5px;
    font-size: x-small;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

@media only screen and (max-width: 320px) {
    .JobsMain{
        display: flex;
        flex-direction: column;
    }
    .JobsTypesContainer{
        display: flex;
        flex-direction: row;
       font-size: x-small;
       width: 320px;
    }
   
    .Jobs{
        display: flex;
    flex-direction: column;
    overflow: auto;
   height: 100%;
    width: 320px;
    flex-wrap: wrap;
    padding: 0px;
  
    }
    .JobRecomendation{
    
       
      padding-left: 20px;
      width: 300px;
    
      font-size: 27px;
       
        border-radius: 12px;
   height: 40px;
   padding: 6px;
        
        
    }
    .JobTypeHeading{
display: none;
    }
    .LogOut{
        margin-left: 130px;
        background: rgba(227, 239, 53, 0.092);
        font-size: 19px;
        
    }
    .LogOut:active{
    background: rgba(72, 61, 61, 0.5);
}

.Home{
    width: 320px;
    height: 100vh;
}
.JobsItem{
    width: 320px;
    
   
}
.SavedJob{
    font-size: 5px;
    padding: 3px;
    margin-top: 6px;
}
.TopJobs{
    height: 35px;
}
   
}